@use "../../../../styles/mixins" as m;

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;

  @include m.bp-up(md) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include m.bp-up(lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}
